<!-- footer -->
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="../public/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="../public/stylesheets/app.css">

<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pay with what you want</h2>
                    <p>Your confort is Relox's aim. You con use credit cards, debit cards, pay pall, and more</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Free shipping from 200$ sales</h2>
                    <p>We dont care in what part of the world you are at. We will make sure that the product is delivered at your house in the shortest possible time</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Safe data, our priority</h2>
                    <p>Dont worry, in this app we have the best network protection so that all your data is safe with us</p>
                </article>
            </div>
        </div>
    </div>
</footer>
