</ul>
<ul class="right-navbar"></ul>
	<ul class="right-navbar">
		<li class="lista-logeado"><a href="/product-add">
			Add product<i class="fas fa-user"></i>
			</a>
		</li>
		<li class="lista-logeado"><a href="/users/<%= locals.user.id %> ">
			Profile <i class="fas fa-user"></i>
		</a>
		</li> 
		<li class="lista-logeado">
			<a href="/">
			Logout <i class="fas fa-sign-in-alt"></i>
			</a>
		</li> 
	<li>
</ul>