
        <ul class="left-navbar">
	<li><a href="/">Todos los productos</a></li>
</ul>
<ul class="right-navbar">
	<li>
		<a href="/register">Creá tu cuenta <i class="far fa-address-card"></i>
		</a>
	</li>
	<li>
		<a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
	</li>
</ul>