
        <nav class="main-navbar">
			<ul class="left-navbar">
				<li><a href="/">Todos los productos</a></li>
				<!-- solo logueado <li><a href="">Cargar productos</a></li> -->
			</ul>
                    <li>
						<a href="/register">Creá tu cuenta <i class="far fa-address-card"></i>
						</a>
					</li>
					<li>
						<a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
					</li>