<head>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />
	
	<title> Mercado Liebre Argentina</title>
			<!-- Font Awesome Stylesheet -->
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet --> 
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>


	
<body>
	<!-- Header -->
	<header class="main-header">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-5 col-md-2" style="margin-right: 120px;">
					<a href="http://localhost:3000/" class="main-header_home-link">
						<img src="http://localhost:3000/images/sticker-png-rabbit-drawing-silhouette-pictogram-hare-rabbits-and-hares-blackandwhite-tail.jpg">
						
					</a>
				</div>
	
				<div class="col-7 col-md-6">
					<form action="/search-result" method="GET" class="search-form">
						<input type="text" name="search" placeholder="Buscar productos, marcas y más" class="search-form_input">
						<button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
					</form>
				</div>
				<!-- <div class="col-12 col-md-4">
					<a class="main-header_credit-link">
						<i class="fas fa-hand-holding-usd"></i>
						RELOX
					</a>
				</div> -->
			</div>

			<p class=""
			style="margin-left: -15px; font-size: 30px; margin-top: -5; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Mercado liebre</p>

				<div class="col-12 col-md-4">
					<a class="main-header_credit-link">
						<i class="fas fa-hand-holding-usd"></i>
						Todas las opiniones en un solo lugar.
					</a>
				</div>
			</div>
	
			<button class="btn-toggle-navbar">
				<i class="fas fa-bars"></i>
			</button>
	
			
	
				<ul class="right-navbar">
					<% if(true) { %>
						<%- include('headerLogueado') %> 
					<% } else { %>
						<%- include('headerDeslogueado') %> 
					<% } %>
					
					
				</ul>
				
			</nav>
		</div>
	</header>
	<!-- /Header -->


</html> 