</ul>
<ul class="right-navbar"></ul>
	<ul class="right-navbar">
		<li class="lista-logeado"><a href="/product/product-add">
			agregar producto <i class="fas fa-user"></i>
			</a>
		</li>
		<li class="lista-logeado"><a href="/users">
			Nombre del usuario <i class="fas fa-user"></i>
			</a>
		</li> 
		<li class="lista-logeado">
			<a href="/">
			Cerrar sesión <i class="fas fa-sign-in-alt"></i>
			</a>
		</li> 
	<li>
</ul>