
	<li><a href="profile.html">
							Nombre del usuario <i class="fas fa-user"></i>
						</a>
					</li>
					<li>
						<form action="" method="post">
							<button class="logout" type="submit">
								Cerrar sesión <i class="fas fa-sign-in-alt"></i>
							</button>
						</form>
					</li>