                      <nav class="main-navbar">
						<ul class="left-navbar">
							<li><a href="/">Todos los productos</a></li>
							<li><a href="/product/product-add">Cargar productos</a></li>
						</ul>
				
						<ul class="right-navbar">
							<li><a href="/users">
								Nombre del usuario <i class="fas fa-user"></i>
								</a>
							</li> 
							<ul class="right-navbar">
								<li><a href="/product-add">
									agregar producto <i class="fas fa-user"></i>
									</a>
								</li>
							<li>
								<form action="" method="post">
									<button class="logout" type="submit">
										Cerrar sesión <i class="fas fa-sign-in-alt"></i>
									</button>
									