
        <ul class="left-navbar">
			<li style="border-bottom: solid;">	<a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
			<li style="border-bottom: solid;"	> 	<a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
		</ul>