<%- include('../partials/header') %> 
<body>
	<!-- Header -->
	
	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="ingresa-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<section>
				<div class="login-form">
					
					<div class="data">
						<form method= 'POST'>
							<label for="username">nombre:</label>
							<input type="text" id="username" placeholder="Username..."/>
							<label for="username">apellido:</label>
							<input type="text" id="apellido" placeholder="apellido..."/>
							<label for="username">Fecha de nacimiento:</label>
							<input type="text" id="username" placeholder="Username..."/>
							<label for="password">email:</label>
							<input type="password" id="password" placeholder="Password..."/>
                            <label for="password">telefono:</label>
							<input type="telefono" id="telefono" placeholder="telefono..."/>
							<input type="submit" value="Crear">
						</form>
						
					</div>
					
				</div>
			</div>
		</div>	
			</section> 


	<!-- footer -->
	<%- include('../partials/footer') %> 
	<!-- /footer -->
</body>

</html>