<%- include('../partials/header') %> 
<body>
	<!-- Header -->
	
	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
			</div>
			<!-- Show the "ultimos" products -->
			<section>
				<h2 class="login-tittle" >Login</h2>
				<div class="login-form">
					
					<div class="data">
						<form method="POST">
							<input class="formss" type="text" id="username" name="email" placeholder="Email"> <br>
							<input class="formss" type="password" id="password" name="password" placeholder="Password"> <br>
							<h3 class="contraseña-olvidada"><a href="mail.google.com"> Forgot your password?</a></h3>
							<div class="recordame"><input class="formss-2" type="checkbox" id="rememberme" name="rememberme">
							<label for="rememberme" >Remember me</label><br><br></div>
							<input class="formss" type="submit" value="Sign in">
							
							<% if (locals.error) { %>
							  <span style="color:red"><%= locals.error %></span>
							<% } %>
						  </form>
						  
						
					</div>
					
				</div>
			</div>
		</div>	
			</section> 


	<!-- footer -->
	<%- include('../partials/footer') %> 
	<!-- /footer -->
</body>

</html>