<%- include('../partials/header') %> 
<body>
	<!-- Header -->
	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="registrate-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
		<div class="register-css">
			<form action=""><label for="last name"><input type="text" placeholder="apellido"></form>
			<form action=""><label for="mail"><input type="email" placeholder="email"></form>
            <form action=""><label for="password"><input type="password" placeholder="contraseña"></form>
			<form action=""><label for="name"><input type="text" placeholder="nombre"></label></form>
			<button>Iniciar Sesion</button>	
		</div>
	</div>
	</div>		


	<!-- footer -->
	<%- include('../partials/footer') %> 
	<!-- /footer -->
</body>

</html>