<%- include('../partials/header') %> 
<body>
	<!-- Header -->
	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="registrate-title">Register</h2>
			</div>
			
			<div class="register-form">
					
				<div class="data">
					<form method= 'POST' enctype="multipart/form-data">
							
						<input class="formss" type="text" id="nombre" name="nombre" placeholder="Name"/>
						<input class="formss" type="text" id="apellido" name="apellido" placeholder="Last name"/>	
						<input class="formss" type="text" id="email" name="email" placeholder="Email (**)"/>
							
						<input class="formss" type="password" id="password" name="password" placeholder="Password (**)"/>
						<input class="formss" type="text" id="telefono" name="telefono"placeholder="Phone number"/>
						
						<p class="nacimiento"> Birth date</p>
						<input  class="formss" type="date" id="fecha_de_nacimiento" name="fecha_de_nacimiento" placeholder="Birth date"/>
					    <p class="obligatorio"> (**) mandatory field</p>
						<label class="formss3" > Choose file</label>
						<input class="formss" type="file" name="imagen" id="imagen" placeholder="Picture... ">
					</form>
					
				</div>
				
			</div>
	</div>
	</div>		


	<!-- footer -->
	<%- include('../partials/footer') %> 
	<!-- /footer -->
</body>

</html>