<%- include('../partials/header') %> 
<body>
	<!-- Header -->
	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="registrate-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="login-form">
					
				<div class="data">
					<form method= 'POST'>
						<label for="username">nombre:</label>
						<input type="text" id="username" placeholder="Username..."/>
						<label for="username">apellido:</label>
						<input type="text" id="apellido" placeholder="apellido..."/>
						<label for="username">Fecha de nacimiento:</label>
						<input type="text" id="username" placeholder="Username..."/>
						<label for="password">email:</label>
						<input type="password" id="password" placeholder="Password..."/>
						<label for="password">telefono:</label>
						<input type="telefono" id="telefono" placeholder="telefono..."/>
						<input type="submit" value="Crear">
					</form>
					
				</div>
				
			</div>
	</div>
	</div>		


	<!-- footer -->
	<%- include('../partials/footer') %> 
	<!-- /footer -->
</body>

</html>