<%- include('./partials/header') %> 
<body>
	<!-- Header -->
	
	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<section>
				<div class="login-form">
					
					<div class="data">
						<label for="username">Username:</label>
						<input type="text" id="username" placeholder="Username..."/>
						<label for="password">Password:</label>
						<input type="password" id="password" placeholder="Password..."/>
					</div>
					<div class="panel">
						<button id="login-button" class="button">Login</button>
						<span>or</span>
						<a href="#/registration">Register</a>
					</div>
				</div>
			</div>
		</div>	
			</section> 


	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>