
<%- include('./partials/header') %> 
<body>
	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="agregar-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<!-- <section>
				<div class="add-product-form">
					<div class="data">
						<label for="name">Name:</label>
						<input type="text" id="name" placeholder="Item name..."/>
						<label for="category">Category:</label>
						<input type="text" id="category" placeholder="Category..."/>
						<label for="price">Price:</label>
						<input type="text" id="price" placeholder="0.00"/>
					</div>
					<div class="panel">
						<button id="add-product-button" class="button">Add</button>
						<a href="#/products">
							<button class="button" id="cancel-button">Cancel</button>
						</a>
					</div>
				</div>
			</section> -->
			<section>
				<form class= "formulario" action="/producto/product-add" method="POST">

					<p>
					<label for="imagen"> Url de la imagen: </label>
					<input type="url" name="url_imagen" id="url_imagen">
					</p>
					<p>
						<label for="nombre"> Nombre del Producto: </label>
						<input type="text" name="nombre_producto" id="nombre_producto">
						</p>
					<p>
					<p>
						<label for="Categoria"> Categoria: </label>
						<input type="text" name="Categoria" id="Categoria">
					</p>
					<p>
						<label for="nombre"> Fecha de hoy (AAAA-MM-DD): </label>
						<input type="text" name="fecha_publicacion" id="fecha_publicacion">
					</p>
					<!-- (ID) Parte hardcodeada hasta que tengamos foreign keys-->
					<p>
						<label for="nombre"> Tu ID personal: </label>
						<input type="number" name="id_usuario" id="id_usuario" value= <%= locals.id %>  readonly>
						</p>
					<p>
					<p>
					<button type="submit" value="enviar">Agregar Producto</button>
					</p>
				
				</form>
      
		
			</section>


	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>