
<%- include('./partials/header') %> 
<body>
	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="agregar-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<!-- <section>
				<div class="add-product-form">
					<div class="data">
						<label for="name">Name:</label>
						<input type="text" id="name" placeholder="Item name..."/>
						<label for="category">Category:</label>
						<input type="text" id="category" placeholder="Category..."/>
						<label for="price">Price:</label>
						<input type="text" id="price" placeholder="0.00"/>
					</div>
					<div class="panel">
						<button id="add-product-button" class="button">Add</button>
						<a href="#/products">
							<button class="button" id="cancel-button">Cancel</button>
						</a>
					</div>
				</div>
			</section> -->
			<div class="add-form">
				<form class= "formulario" action="/" method="POST">

					<p>
					<label class="formss3" for="imagen"> </label>
					<input class="formss" type="text" name="nombre" id="nombre" placeholder="Product name...">
					</p>
					<p>
						<label class="formss3" for="nombre"> </label>
						<input class="formss" type="" name="url_imagen" id="url_imagen" placeholder="Picture... ">
						</p>
					<p>
						<p>
							<label class="formss3" for="nombre"> </label>
							<textarea class="formss" type="text" name="precio" id="precio" placeholder="Product comment..."></textarea>
						</p>
					<select class="formss"	 name = "categoria_id" id="categoria_id">
						<option value = "Gala" selected>Category</option>
						<option value = "1">Sports</option>
						<option value = "2">Formal</option>
						<option value = "3">Work</option>
						<option value = "4">Travel</option>
					 </select>

					 <p>
						<label class="formss3" for="nombre"> </label>
						<input  class="formss" type="text" name="precio" id="precio" placeholder="Price...">
					</p>
					
					<p>
						<label class="formss3" for="nombre">  </label>
						<input class="formss" type="text" name="fecha_publicacion" id="fecha_publicacion" placeholder="Production date...">
					</p>
					<!-- (ID) Parte hardcodeada hasta que tengamos foreign keys-->
					
					<p>
						
						
					<p>
					<button class=
					"formss" type="submit" value="enviar">CREATE PRODUCT</button>
					</p>
				
				</form>
      
		
			</div>


	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>