
<%- include('./partials/header') %> 
<body>
	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<!-- <section>
				<div class="add-product-form">
					<div class="data">
						<label for="name">Name:</label>
						<input type="text" id="name" placeholder="Item name..."/>
						<label for="category">Category:</label>
						<input type="text" id="category" placeholder="Category..."/>
						<label for="price">Price:</label>
						<input type="text" id="price" placeholder="0.00"/>
					</div>
					<div class="panel">
						<button id="add-product-button" class="button">Add</button>
						<a href="#/products">
							<button class="button" id="cancel-button">Cancel</button>
						</a>
					</div>
				</div>
			</section> -->
			<section>
    <div class="edit-product-form">
        <header style="margin-bottom: 30px; font-style: italic;" class="main-header-editar">Edit product</header>
        <div class="data">
            <label for="item-name">Name:</label>
            <input type="text" id="item-name" value="{{name}}" placeholder="Name..."/>
            <label for="category">Category:</label>
            <input type="text" id="category" value="{{category}}" placeholder="Category..."/>
            <label for="price">Price:</label>
            <input type="text" id="price" value="{{price}}" placeholder="0.00"/>
        </div>
        <div class="panel">
            <button id="edit-product-button" class="button" data-id="{{objectId}}">Edit</button>
            <a href="#/products">
                <button class="button">Cancel</button>
            </a>
        </div>
    </div>
</div>
</div>	
</section>


	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>