
<%- include('./partials/header') %> 
<body>
	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="agregar-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<!-- <section>
				<div class="add-product-form">
					<div class="data">
						<label for="name">Name:</label>
						<input type="text" id="name" placeholder="Item name..."/>
						<label for="category">Category:</label>
						<input type="text" id="category" placeholder="Category..."/>
						<label for="price">Price:</label>
						<input type="text" id="price" placeholder="0.00"/>
					</div>
					<div class="panel">
						<button id="add-product-button" class="button">Add</button>
						<a href="#/products">
							<button class="button" id="cancel-button">Cancel</button>
						</a>
					</div>
				</div>
			</section> -->
			<div class="add-form">
				<form class= "formulario" action="/product" method="POST" enctype="multipart/form-data">

					<p>
					<label class="formss3" > </label>
					<input class="formss" type="text" name="nombre" id="nombre" placeholder="Product name...">
					</p>
					<p>
						<label class="formss3" > </label>
						<input class="formss" type="text" name="url_imagen" id="url_imagen" placeholder="Picture... ">
						</p>
					<p>
						<p>
							<label class="formss3" > </label>
							<textarea class="formss" type="text" name="descripcion" id="descripcion" placeholder="Product comment..."></textarea>
						</p>
					<select class="formss" name="categoria_id" id="categoria_id">
							<option value="">1</option>
							<option value="">2</option>
							<option value="">3</option>
							<option value="">4</option>
							<option value="">5</option>
							<option value="">6</option>
							<option value="">7</option>
							<option value="">8</option>
							<option value="">9</option>
							<option value="">10</option>
							<option value="">11</option>
							<option value="">12</option>
							<option value="">13</option>
					</select>
					<label class="formss3" > Choose file</label>
					<input class="formss" type="fyle" name="image" id="image" placeholder="Picture... ">

					 <p>
						<label class="formss3" > </label>
						<input  class="formss" type="number" name="precio" id="precio" placeholder="Price...">
					</p>
					
					
					<!-- (ID) Parte hardcodeada hasta que tengamos foreign keys-->
					
					<p>
						
						
					<p>
					<button class=
					"formss" type="submit" value="enviar">CREATE PRODUCT</button>
					</p>
				
				</form>
      
		
			</div>


	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>