
<%- include('./partials/header') %> 

<body>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i><br>  <br>
			 <br>
			
			</h2>


	<!-- footer -->
  
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>